<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697281686147-5sip1ct1pqs1ev02ove0aok0g3n7br93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697281686147-5sip1ct1pqs1ev02ove0aok0g3n7br93</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ1DYexZknI64zaubaipuwU-fZW7THj5g</string>
	<key>GCM_SENDER_ID</key>
	<string>697281686147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>XCode.NotesAppHomework</string>
	<key>PROJECT_ID</key>
	<string>delete2-38331</string>
	<key>STORAGE_BUCKET</key>
	<string>delete2-38331.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697281686147:ios:1c8039601daa9e3b9549b6</string>
</dict>
</plist>